<!doctype html>
<html>
<head>
  <title>Inventory</title>
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div class=flashes>
    <p>{{ message }}</p>
  </div>
  {% endfor %}

  <h1>Inventory Tracking</h1>

  <div>
    <h4>Create Inventory Item(s)</h4>
    <form id="add-form" action="/create" method="POST">
        <input placeholder="Product"  autofocus name="product">
        <input placeholder="Quantity"  required name="qty">
        <button class="btn btn-outline-secondary" type="submit">Add</button> 
    </form>
  </div>

{% if all_inventory_items %}
<div>
  <h4>Edit Inventory Item</h4>
  <form id="edit-form" action="/edit" method="POST">
      <select name="to_edit">
        {% for item in all_inventory_items %}
          <option>{{ item.entry_id }} | {{ item.product_name }} | {{ item.qty }} | {{ item.timestamp }}</option>
        {% endfor %}
      </select>
      <input placeholder="Product"  autofocus name="product">
      <input placeholder="Quantity"  name="qty">
      <button class="btn btn-outline-secondary" type="submit">Update</button> 
  </form>

</div>
<h4>Delete Inventory Item</h4>
<form id="delete-form" action="/delete" method="POST">
    <select name="to_edit">
      {% for item in all_inventory_items %}
        <option>{{ item.entry_id }} | {{ item.product_name }} | {{ item.qty }} | {{ item.timestamp }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-outline-secondary" type="submit">Delete</button> 
</form>
</div>

<div>
<h4>Most In-Stock Inventory Report</h4>
  <form id="report-form" action="/report" method="POST">
    <label>Month</label>
      <select name="report-month">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    <label>Year</label>
      <input placeholder="Year" name="report-year" required>
    <button class="btn btn-outline-secondary" type="submit">Generate Report</button> 
  </form>  
</div>


  <div>  
    <h4>Inventory</h4>
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Timestamp</th>
        </tr>
        {% for item in all_inventory_items %}
        <tr>
          <td>{{item.product_name}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.timestamp}}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
{% endif %}


</body>
</html>