<!doctype html>
<html>
<head>
  <title>Inventory</title>
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div class=flashes>
    <p>{{ message }}</p>
  </div>
  {% endfor %}

  <h1>Inventory Tracking</h1>

  <div>
    <h4>Create Inventory Item(s)</h4>
    <form id="add-form" action="/create" method="POST">
        <input placeholder="Product" class="form-control" autofocus required name="product">
        <input placeholder="Quantity" class="form-control" required name="qty">
        <button class="btn btn-outline-secondary" type="submit">Add</button> 
    </form>
  </div>

  <div>
    <h4>View Inventoy</h4>
    <form id="balance-form" action="/balance" method="POST">
      <button class="btn btn-outline-secondary" type="submit">View Balances</button> 
    </form>
  </div>
  
</body>
</html>